<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>CEP | Brasil API</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma para consulta de dados obtidos através da Brasil API.">
    <meta name="author" content="@eukaualima">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
</head> 

<body class="landing-page">   
    
    <!-- GITHUB BUTTON JS -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
    <div class="page-wrapper">
        
        <!-- ******Header****** -->
        <header class="header text-center">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-highlight">Brasil</span> <span class="text-bold">API</span>
                    </h1>
                </div>
                <div class="tagline">
                    <p>Consulte informações de forma rápida e prática utilizando os dados fornecidos pela Brasil API.</p>
                    <p>Realize pesquisas específicas e acesse diversas categorias de dados em um só lugar.</p>
                </div>
                <div class="social-container">
                    <div class="github-btn mb-2">
                        <a class="github-button" href="https://github.com/eukaualima/brasil-api" data-size="large" aria-label="Star eukaualima/brasil-api no GitHub">Star</a>
                        <a class="github-button" href="https://github.com/eukaualima" data-size="large" aria-label="Seguir @eukaualima no GitHub">Seguir @eukaualima</a>
                    </div>
                </div>
            </div>

            <div class="main-search-box pt-3 pb-4 d-inline-block">
                <form class="form-inline search-form justify-content-center" onsubmit="return findCEP(event)">
                    <input type="text" id="cepInput" placeholder="(sem mapa) Digite o CEP..." class="form-control search-input">
                    <button type="submit" class="btn search-btn"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="main-search-box pt-3 pb-4 d-inline-block">
                <form class="form-inline search-form justify-content-center" onsubmit="return findCEPCoordinates(event)">
                    <input type="text" id="cepInputCoordinates" placeholder="(com mapa) Digite o CEP..." class="form-control search-input">
                    <button type="submit" class="btn search-btn"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </header>
    </div>
    
    <footer class="footer text-center">
        <div class="container">
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>
        </div>
    </footer>
    
    <!-- Main Javascript -->       
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script src="assets/plugins/stickyfill/dist/stickyfill.min.js"></script>                                                                
    <script src="assets/js/main.js"></script>

    <script>
        function findCEP(event) {
            event.preventDefault();
    
            var cep = document.getElementById("cepInput").value.trim();
            
            if (/^\d{8}$/.test(cep)) { 
                window.location.href = "/cep/" + cep; 
            } else {
                alert("Por favor, digite um CEP válido com 8 números.");
            }
        }

        function findCEPCoordinates(event) {
            event.preventDefault();
    
            var cep = document.getElementById("cepInputCoordinates").value.trim();
            
            if (/^\d{8}$/.test(cep)) { 
                window.location.href = "/cep/with-coordinates/" + cep; 
            } else {
                alert("Por favor, digite um CEP válido com 8 números.");
            }
        }
    </script>
    
</body>
</html>
